@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

section#login{
    color: white;
    background-color: #180C24;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.348);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 435px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
}

div#esquerda-login{
    background-color: rgba(186, 244, 172, 0.343);
    width: 50%;
    margin: -10px -10px -10px -10px;
    color: #03FCC9;
    font-size: 1.5em;
}

div#esquerda-login > h1 {
    padding-left: 5px ;
}

div#direita-login{
    background-color: rgba(251, 137, 137, 0.195);
    width: 38%;
}

