@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Signika Negative", sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top, #030305,#F48C69, #A44C89, #5D2971, #1C0F29 );
    background-image: url(images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-y: hidden;
}

section#login{
    color: white;
    background-color: rgba(24, 12, 36, 0.871);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.348);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 435px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
}

div#esquerda-login{
    width: 50%;
    margin: -10px -10px -10px -10px;
    color: #896095;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div#esquerda-login > h1 {
    padding-right: 80px;
    align-items: top;
    font-weight: 600;
}

div#esquerda-login > img.imagem-login{
    width: 83%;
    margin: -50px 0px 0px 0px;
}

div#direita-login{
    margin: auto;
    background-color: #2D1B3E;
    width: 36%;
    height: 90%;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

div#direita-login > h2{
    text-align: center;
    font-size: 1.9em;
    color: #c97965;
}

div#direita-login > section{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin: auto;
}

.campos{
    display: flex;
    flex-direction: column;
}

div#direita-login > section > div > label{
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #9d9d9d;
}

.campo-dig{
    width: 100%;
    height: 50px;
    background-color: #59446F;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.277);
    color: #c2c2c2;
    box-sizing: border-box;
}

.campo-dig::placeholder{
    padding-left: 5px;
    color: #7878788f;
}

.campo-dig:hover{
    transition: #413152 0.5s linear 0s;
    border: 2px solid rgba(0, 0, 0, 0.654);
    transform: translate(-1px, -1px);
    
}

#botaologin{
    border: none;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: #c97965;
    font-size: 1.3em;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    color: #180C24;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.277);
}

#botaologin:hover{
    border: 2px solid rgba(0, 0, 0, 0.654);
    cursor: pointer;
    transform: translate(0px, -1px);
    background-color: #aa6756;
}

#botaologin:active{
    background-color: #c97965;
}